<ion-header class="ig-header">
  <ion-toolbar>
    <ion-title>Messages</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="compose()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="search-wrap">
    <ion-searchbar
      placeholder="Search"
      [value]="q"
      (ionInput)="onSearch($event)"
    ></ion-searchbar>
  </div>
</ion-header>

<ion-content class="ig-messages">
  <div class="state" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div class="error" *ngIf="!loading && error">{{ error }}</div>

  <ion-list class="thread-list" *ngIf="!loading && !error">
    <ion-item
      button
      lines="none"
      class="thread"
      *ngFor="let t of filtered"
      (click)="openThread(t)"
    >
      <div class="avatar" slot="start">
        <img [src]="t.avatar" alt="" />
      </div>

      <ion-label class="meta">
        <div class="top">
          <div class="name">{{ t.title }}</div>
          <div class="time" *ngIf="t.lastAt">{{ t.lastAt | date:'shortTime' }}</div>
        </div>

        <div class="bottom">
          <div class="preview">{{ t.lastText || '' }}</div>
          <ion-badge *ngIf="t.unread > 0" class="unread">{{ t.unread }}</ion-badge>
        </div>
      </ion-label>
    </ion-item>

    <div class="empty" *ngIf="!filtered.length">No messages yet.</div>
  </ion-list>
</ion-content>